html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#map-canvas{
	float:left;
	width:70%; 
	height:100%
}

#directionsPanel{
	float:right;
	width:30%;
	height: 100%
}