html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.map{
  float: left;
  width: 65%; 
  height: 85%;
  padding: 20px;
}

#map-canvas{
  border: 5px solid #919191;
  border-radius: 10px;
}

#directionsPanel{
  float:right;
  width:35%;
  height: 90%;
  padding-top: 20px;
}

.info{
  text-align: center;
}

.info-dis, .info-dif{
 display:inline-block;
 margin: 0 30px;
}

.info-ele{
  margin-top: 10px;
  margin-left: 20px;
  width: 90%;
}

.info > div > p{
  font-size: 14px;
  margin: 0;
}

.info span{
  font-size: 35px;
  font-weight: bold;
}

#title {
  color: black;
  font-size: 40px;
}

.navbar-nav {
  color: black;
  font-size: 20px;
}

#sign-in{
  padding-top: 7px;
}

.text-center{
  margin-top: 30px;
  margin-bottom: 30px;
}


.btn-1 {
  margin-right: 15px;
}

.btn-2 {
  margin-right: 15px; 
}

.active > a{
  background-color: #e5e5e5;
  box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
}

.shadow{
  text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
}

.save-route{
  margin-top: 20px; 
}

.active > a {
  background-color: #e5e5e5;
  box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);
}
