<!-- Button for generate route and save route -->
    <div class="text-center">
      <div class="btn-toolbar">
        <button type="button" class="btn btn-primary btn-1" id="gen-route" ng-click="generateRoute()">Generate Route</button> 
        <button type="button" class="btn btn-primary btn-2 save_path" id="save-route" ng-click="savePath()">Save Path</button> 
      </div>
    </div>

<!-- Display map -->
    <div id="map-canvas"></div>
    <div id="directionsPanel">
      <p>Total Distance: <span id="total"></span></p>
      <p>Difficulty: <span class="difficulty"></span></p>
    <div id="elevation_chart"></div>
    </div>