
.runningroute-list {
  list-style: none;
  text-indent: 0;
  padding: 0;
}

.runningroute-item {
  padding: 0.5em;
}

.runningroute-done {
  text-decoration: line-through;
  font-style: italic;
  color: #999;
}
